.file {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-s);
  width: 100%;
  box-sizing: border-box;

  & .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: var(--spacing-4xl);
    padding: var(--spacing-s);
    border-radius: var(--radius-s);

    &.pending {
      background-color: var(--palette-light-blue);
    }

    &.fulfilled {
      background-color: var(--palette-brand-20);
    }

    &.rejected {
      background-color: var(--palette-error-20);
    }
  }

  & .block {
    display: flex;
    align-items: center;
    column-gap: var(--spacing-s);

    & > p {
      overflow: hidden;
      max-width: 90px;
      text-overflow: ellipsis;
      width: 100%;
      text-wrap: nowrap;
      color: var(--palette-dark);
    }

    & > span {
      color: var(--palette-dark-40);
    }
  }

  & .icon {
    width: var(--icon-size-m);
    height: var(--icon-size-m);
  }

  & .button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;

    & > svg {
      width: 14px;
      height: 14px;

      &.fulfilled {
        color: var(--palette-dark);
      }

      &.rejected {
        color: var(--palette-error);
      }
    }
  }

  & .error {
    color: var(--palette-error);
  }
}
