.form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--spacing-5xl);
  width: 400px;

  & > h3 {
    color: var(--palette-white);
  }
}
